#controlContainer {
    /* display: inline-block; */
    float: left;
    width: 30%;
    /* height: 90%; */
    /* display: flex; */
    position: fixed;
    top: 80px;
    bottom: 0px;
    background-color: red;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* max-height: 100%; */
    /* display: flexbox; */
}

#canvasContainer {
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 30%;
    right: 0px;

    float: right;
    width: 70%;
    /* width: fit-content; */
    /* display: flex; */
    background-color: orange;
    margin: 0px;
    padding: 0px;
}

canvas {
    border: black;
    position: relative;
    /* border-width: 1px;
    border-style: solid; */
    
    width: 100%;
    height: 100%;
    display: block;
    margin:auto;

    /* margin: 0px;
    padding: 0px; */
}

.control {
    background-color: rgb(164, 226, 205);
    /* width: fit-content; */
    width: 80%;
    border: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    /* display: block; */
}

.control-header {
    color: blue;
    background-color: rgb(173, 190, 206);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.control table {
    border-spacing: 0px;
}

.control td {
    padding: 2px;
    padding-top: 5px;
    border-bottom: 1px solid;
}

.control input[type=checkbox] {
    background-color: blue;
}

.control input[type=number] {
    /* color: red; */
    /* background-color: orange; */
    width: 40px;
}