#controlContainer {
    /* display: inline-block; */
    /* float: left; */
    width: 20%;
    /* height: 90%; */
    /* display: flex; */
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 80%;
    right: 0px;
    background-color: rgb(56, 56, 56);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* display: none; */
    border-left: #b6f542;
    border-left-style: solid;
    border-left-width: 1px;
}

#canvasContainer,
#aboutDialog {
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 80%;
    width: 80%;
    background-color: orange;
    margin: 0px;
    padding: 0px;

    /* display: none; */
}

.contentBorder {
    border-top: #b6f542;
    border-top-style: solid;
    border-top-width: 1px;
}

#aboutDialog {
    z-index: 1;
    visibility: hidden;
}

#aboutDialog h2,
#aboutDialog ul {
    /* margin: 0; */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#aboutDialog ul {
    margin-bottom: 20px;
}

#aboutContents {
    margin: 20px;
}

canvas {
    border: black;
    position: relative;
    /* border-width: 1px;
    border-style: solid; */

    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    outline: none;

    /* margin: 0px;
    padding: 0px; */
}

.control {
    background-color: #e7e7e7;
    /* width: fit-content; */
    width: 85%;
    border: solid;
    border-width: 0px;
    /* border-color: #b6f542; */
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
    /* display: block; */
}

.control-header {
    color: #ffffff;
    background-color: rgb(165, 165, 165);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.control table {
    border-spacing: 0px;
}

.control td {
    padding: 2px;
    padding-top: 5px;
    border-bottom: 1px solid;
}

.control input[type=checkbox] {
    background-color: blue;
}

.control input[type=number] {
    /* color: red; */
    /* background-color: orange; */
    width: 40px;
}